FORM
{
	padding: 0px;
	margin: 0px;
	border: 1px solid #CCC;
	background-color: #f2f6f4;
	width: 750px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.ul
{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	margin-left: 0px;
	padding: 10px;
	padding-top: 5px;
}
.ul LI
{
	margin: 0px;
	padding-bottom: 5px;
}
.ul H2
{
	margin: 0px;
	padding: 0px;
}
.h2
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0px;
}
.label
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}
.loginContent
{
	font-size: 0.75em;
	font-family: Arial, Helvetica, Sans-Serif;
	padding: 10px;
	margin: 0px;
	min-height: 400px;
	width: 750px;
	margin: 20px auto;
	padding-bottom: 20px;
}
.loginContent .text-box
{
	width: 30em;
}
.loginContent .text-box.multi-line
{
	height: 6.5em;
}
.loginContent .tri-state
{
	width: 6em;
}
.loginContent P, UL
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-left: 10px;
}
.loginContent UL LI
{
	margin-top: 5px;
}
INPUT[type="button"], INPUT[type="submit"], INPUT[type="file"]
{
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.loginContent INPUT[type="text"], INPUT[type="password"], TEXTAREA, INPUT[type="file"]
{
	width: 385px;
	padding: 5px;
	margin: 0px;	
	border: 1px solid #A8E1C7;
	background-color: #F8FEFC;
	
}
.loginContent INPUT[type="button"], INPUT[type="submit"]
{
	border: 1px solid #666;
	padding: 5px;
	cursor: pointer;
	width: 100px;
	margin-top: 5px;
	background: #444;
	text-align: center;
	border: 1px solid #AAA;
	background-color: #F8FEFC;
	padding: 8px;
	cursor: pointer;
	width: 160px;
}
.loginContent INPUT[type="file"]
{
	border: 1px solid #AAA;
	background-color: #F8FEFC;
	padding: 5px;
	cursor: pointer;
	width: 323px;
}
.loginContent SELECT
{
	width: 400px;
	padding: 3px;
	margin: 0px;
}
input[type="text"]:focus, input[type="password"]:focus,SELECT:focus,textarea:focus
{
	background-color: #fafbd4;
	color: #111;
}
INPUT[type="submit"]:hover, INPUT[type="button"]:hover
{
	background-color: #FFFDD8;
}
INPUT[type="submit"]:focus, INPUT[type="button"]:focus
{
	background-color: #FFFDD8;
}
/*MISC
----------------------------------------------------------*/
.clear
{
	clear: both;
}
.error
{
	color: #FF0000;
}
.UserInfo
{
	text-align: right;
	text-decoration: none;
	padding-right: 5px;
}
.UserInfo *
{
	padding: 3px;
}
.UserInfo A
{
	text-decoration: none;
	font: 1em Arial;
	color: #AAA;
}
.checkout
{
	padding-top: 15px;
	padding-left: 5px;
}
.loginContent .rightbox
{
	text-align: right;
	margin: 0px;
	padding: 5px;
}
.empty-row TD
{
	text-align: center;
	height: 30px;
}
.edit_confirm_button, .delete_button, .edit_button, .edit_cancel_button, .restore_button
{
	cursor: pointer;
}
.container
{
	margin: 10px -5px;
	padding: 0px;
}
.container .left, .right, .middle
{
	float: left;
	width: 163px;
	background: #222;
	padding: 10px;
	margin: 5px 5px 5px 35px;
	text-align: center;
}
.container .middle
{
	float: none;
	width: 845px;
}
.container .right
{
	text-align: center;
}
.small
{
	width: 300px;
}
.product_image
{
	cursor: pointer;
	width: 200px;
	height: 150px;
}
.delivery
{
	display: none;
}
.field-validation-error
{
	color: #FF0000;
}
.errorinfo
{
	border: 1px solid #ea144a;
}