.loginContent
{
	width: 750px;
	margin: 20px auto;
	padding-bottom: 20px;
}
FORM
{
	padding: 0px;
	margin: 0px;
	border: 1px solid #CCC;
	background-color: #F5F5F5;
	width: 750px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.h1
{
	font-size: 2em;
	border-bottom: 1px dotted #CCCCCC;
	margin-right: 15px;
	margin: 0px;
}
.ul
{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
	margin-left: 0px;
	padding: 10px;
	padding-top: 5px;
}
.ul LI
{
	margin: 0px;
	padding-bottom: 5px;
}
.ul H2
{
	margin: 0px;
	padding: 0px;
}
.h2
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0px;
}
.label
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}
.ul INPUT[type="text"]
{
	padding: 3px;
	width: 400px;
	border: 1px solid #AAA;
	background-color: #F8FEFC;
}
.ul INPUT[type="password"]
{
	padding: 3px;
	width: 400px;
	border: 1px solid #AAA;
	background-color: #F8FEFC;
}
INPUT[type="text"]:focus, INPUT[type="password"]:focus
{
	background-color: #FFFDD8;
	color: #111;
}
INPUT[type="submit"]:hover, INPUT[type="button"]:hover
{
	background-color: #FFFDD8;
}
INPUT[type="submit"]:focus, INPUT[type="button"]:focus
{
	background-color: #FFFDD8;
}
INPUT[type="button"], INPUT[type="submit"], INPUT[type="file"]
{
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
INPUT[type="button"], INPUT[type="submit"]
{
	border: 1px solid #AAA;
	background-color: #F8FEFC;
	padding: 8px;
	cursor: pointer;
	width: 160px;
}
INPUT[type="file"]
{
	border: 1px solid #AAA;
	background-color: #F8FEFC;
	padding: 5px;
	cursor: pointer;
	width: 323px;
}
