div
{
	padding:0px;
	margin:0px;
}
body
{
	padding:10px;
	margin:0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	font: 1em Arial;
}
.content
{
	padding:0px;
	width: 700px;
	margin: 0px auto;
}
.clear
{
	clear:both;
	float:none;
}
#Menu 
{
	background-color:#96b9a6;
	padding:5px;
	margin-top: 5px;
	margin-bottom:5px;
	font: 0.9em Arial;
}
#Menu ul
{
	list-style:none;
}
#Menu ul li
{
	float:left;
	margin-right: 5px;
}
#Menu a
{
	text-decoration:none;
	color:#eee;
}