.ts1 {
	BACKGROUND-IMAGE: url()
}
.ts {
	BACKGROUND: url() no-repeat 0px 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 100px; CURSOR: pointer; HEIGHT: 100px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	MARGIN-BOTTOM: 3px
}
UL {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
OL {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.comp-graphic {
	FONT-WEIGHT: bold; FONT-SIZE: 20pt; COLOR: #ffffff; MARGIN-RIGHT: 15px; FONT-FAMILY: verdana,arial,ms sans serif
}
.comp-graphic A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.comp-graphic A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.comp-graphic1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 20pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,ms sans serif
}
.comp-graphic1 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.comp-graphic1 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.home-bg {
	BACKGROUND-COLOR: #8ca5f5
}
.toptdbg1 {
	BACKGROUND-COLOR: #ffffff
}
.toptdbg {
	BACKGROUND-COLOR: #ffffff
}
.margin {
	MARGIN-RIGHT: 10px
}
.top-color {
	BACKGROUND: #eaeaea
}
.ban-bg {
	BACKGROUND-COLOR: #a69f71
}
.div-line {
	BACKGROUND-COLOR: #ffffff
}
.color {
	BACKGROUND-COLOR: #e38c00
}
.arrow1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.h-ban {
	BACKGROUND-POSITION: left top; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #a69f71
}
.tab-pro {
	PADDING-LEFT: 25px; MARGIN-BOTTOM: 20px
}
.top-link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.top-link A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.top-link A:hover {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.top-text {
	PADDING-RIGHT: 20px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana,Arial,ms Sans serif; TEXT-ALIGN: justify
}
.top-text TABLE {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
.top-text TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid
}
.top-text A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.top-text A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.body-text {
	PADDING-RIGHT: 20px; MARGIN-TOP: 10px; PADDING-LEFT: 20px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: verdana,Arial,ms Sans serif; TEXT-ALIGN: justify
}
.body-text TABLE {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
.body-text TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: 14px; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid
}
.body-text A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.body-text A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.heading {
	PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 7px; COLOR: #4464ca; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.heading A {
	COLOR: #4464ca; TEXT-DECORATION: none
}
.link {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #636363; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.link A {
	COLOR: #636363; TEXT-DECORATION: none
}
.link A:hover {
	COLOR: #867203; TEXT-DECORATION: none
}
.read-more {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: right; MARGIN-BOTTOM: 10px; COLOR: #847103; LINE-HEIGHT: 14px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana,ms sans serif,arial
}
.read-more A {
	COLOR: #847103; TEXT-DECORATION: none
}
.read-more A:hover {
	COLOR: #cb2e01; TEXT-DECORATION: none
}
.inside-bg {
	BACKGROUND-COLOR: #8ca5f5;
	background-image: url(/images/background.gif);
}
.req-line {
	BACKGROUND-COLOR: #dadada
}
.inbg {
	BACKGROUND-COLOR: #ffffff
}
.position {
	BACKGROUND-POSITION: 50% bottom
}
.probg {
	BACKGROUND-COLOR: #ffffff
}
.probg2 {
	MARGIN: 5px; BACKGROUND-COLOR: #ffffff
}
.probg1 {
	BACKGROUND-COLOR: #f5f3f3
}
.pro-bg {
	BACKGROUND-COLOR: #f5f3f3
}
.nav {
	BACKGROUND-COLOR: #ffffff
}
.view {
	MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 8px
}
.p-img1 {
	BORDER-RIGHT: #927d00 1px solid; BORDER-TOP: #927d00 1px solid; BORDER-LEFT: #927d00 1px solid; BORDER-BOTTOM: #927d00 1px solid
}
.p-img {
	BORDER-RIGHT: #858687 1px solid; BORDER-TOP: #858687 1px solid; BORDER-LEFT: #858687 1px solid; BORDER-BOTTOM: #858687 1px solid
}
.img {
	BORDER-RIGHT: #a5a5a5 1px solid; BORDER-TOP: #a5a5a5 1px solid; MARGIN: 5px; BORDER-LEFT: #a5a5a5 1px solid; BORDER-BOTTOM: #a5a5a5 1px solid
}
.ban {
	BACKGROUND-POSITION: 490px 0px; BACKGROUND-REPEAT: no-repeat
}
.nav-head {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.lnk-arrow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.head {
	PADDING-LEFT: 20px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 17px;
	COLOR: #243A5D;
	FONT-FAMILY: verdana,Arial,ms Sans serif
}
.sub-head {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003f80; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.p-text {
	PADDING-RIGHT: 15px; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: verdana,arial,ms sans serif; TEXT-ALIGN: justify
}
.p-text TABLE {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; BORDER-COLLAPSE: collapse
}
.p-text TD {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #333333 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: justify
}
.p-text A {
	COLOR: #333333; TEXT-DECORATION: underline
}
.p-text A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.link1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; COLOR: #636363; PADDING-TOP: 8px; BORDER-BOTTOM: #ebebeb 1px solid; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.link1 A {
	COLOR: #636363; TEXT-DECORATION: none
}
.link1 A:hover {
	COLOR: #636363; TEXT-DECORATION: underline
}
.pro-name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; COLOR: #2d7ea9; LINE-HEIGHT: 15px; PADDING-TOP: 2px; FONT-FAMILY: verdana,arial,ms sans serif
}
.pro-code {
	FONT-SIZE: 12px; COLOR: #4e4e4e; FONT-FAMILY: verdana,arial,ms sans serif
}
.pro-desc {
	FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #4e4e4e; LINE-HEIGHT: 16px; FONT-FAMILY: verdana,arial,ms sans serif; TEXT-ALIGN: justify
}
.pro-desc TABLE {
	BORDER-RIGHT: #4e4e4e 1px solid; BORDER-TOP: #4e4e4e 1px solid; MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; BORDER-LEFT: #4e4e4e 1px solid; BORDER-BOTTOM: #4e4e4e 1px solid; BORDER-COLLAPSE: collapse
}
.pro-desc TD {
	BORDER-RIGHT: #4e4e4e 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #4e4e4e 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #4e4e4e 1px solid; COLOR: #4e4e4e; PADDING-TOP: 3px; BORDER-BOTTOM: #4e4e4e 1px solid; TEXT-ALIGN: justify
}
.pro-desc A {
	COLOR: #4e4e4e; TEXT-DECORATION: underline
}
.pro-desc A:hover {
	COLOR: #4e4e4e; TEXT-DECORATION: none
}
.pro-name1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; COLOR: #2d7ea9; LINE-HEIGHT: 15px; PADDING-TOP: 2px; FONT-FAMILY: verdana,arial,ms sans serif
}
.pro-code1 {
	PADDING-LEFT: 8px; FONT-SIZE: 12px; COLOR: #4e4e4e; PADDING-TOP: 10px; FONT-FAMILY: verdana,arial,ms sans serif
}
.pro-desc1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #4e4e4e; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: verdana,arial,ms sans serif; TEXT-ALIGN: justify
}
.pro-desc1 TABLE {
	BORDER-RIGHT: #4e4e4e 1px solid; BORDER-TOP: #4e4e4e 1px solid; MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; BORDER-LEFT: #4e4e4e 1px solid; BORDER-BOTTOM: #4e4e4e 1px solid; BORDER-COLLAPSE: collapse
}
.pro-desc1 TD {
	BORDER-RIGHT: #4e4e4e 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #4e4e4e 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #4e4e4e 1px solid; COLOR: #4e4e4e; PADDING-TOP: 3px; BORDER-BOTTOM: #4e4e4e 1px solid; TEXT-ALIGN: justify
}
.pro-desc1 A {
	COLOR: #4e4e4e; TEXT-DECORATION: underline
}
.pro-desc1 A:hover {
	COLOR: #4e4e4e; TEXT-DECORATION: none
}
.text {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #636363; LINE-HEIGHT: 17px; PADDING-TOP: 0px; FONT-FAMILY: verdana,Arial,ms Sans serif; TEXT-ALIGN: justify
}
.text TABLE {
	MARGIN-TOP: 5px; BORDER-LEFT-COLOR: #636363; MARGIN-BOTTOM: 5px; BORDER-BOTTOM-COLOR: #636363; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #636363; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #636363; BORDER-BOTTOM-STYLE: solid
}
.text TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #636363; BORDER-BOTTOM-COLOR: #636363; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #636363; BORDER-TOP-COLOR: #636363; LINE-HEIGHT: 14px; PADDING-TOP: 3px; BORDER-RIGHT-COLOR: #636363
}
.text A {
	COLOR: #636363; TEXT-DECORATION: underline
}
.text A:hover {
	COLOR: #636363; TEXT-DECORATION: none
}
.req {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #003f80; PADDING-TOP: 2px; FONT-FAMILY: verdana,arial,ms sans serif
}
.req A {
	COLOR: #003f80; TEXT-DECORATION: underline
}
.req A:hover {
	COLOR: #003f80; TEXT-DECORATION: none
}
.req1 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #003f80; PADDING-TOP: 2px; FONT-FAMILY: verdana,arial,ms sans serif
}
.req1 A {
	COLOR: #003f80; TEXT-DECORATION: underline
}
.req1 A:hover {
	COLOR: #003f80; TEXT-DECORATION: none
}
.videolink {
	MARGIN: 6px 10px 6px 0px
}
.videolink1 {
	MARGIN-TOP: 20px; TEXT-ALIGN: center
}
.videolink2 {
	MARGIN-LEFT: 20px; TEXT-ALIGN: center
}
.bottom-link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 17px; FONT-FAMILY: verdana,Arial,ms Sans serif
}
.bottom-link A.vd {
	PADDING-LEFT: 30px; BACKGROUND: url(video1.gif) no-repeat; COLOR: #ffff00; TEXT-DECORATION: none
}
.bottom-link A.vd:hover {
	PADDING-LEFT: 30px; COLOR: #ffff00; TEXT-DECORATION: underline
}
.bottom-link A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bottom-link A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.imfooter {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,ms sans serif,arial
}
.imfooter A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.imfooter A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.foot-bg {
	BACKGROUND-COLOR: #ffffff
}
.foot-tab {
	BORDER-RIGHT: #cdcccc 1px solid; BORDER-TOP: #cdcccc 1px solid; BORDER-LEFT: #cdcccc 1px solid; BORDER-BOTTOM: #cdcccc 1px solid; BORDER-COLLAPSE: collapse
}
.foot-tab TD {
	BORDER-RIGHT: #cdcccc 1px solid; BORDER-TOP: #cdcccc 1px solid; BORDER-LEFT: #cdcccc 1px solid; BORDER-BOTTOM: #cdcccc 1px solid; BORDER-COLLAPSE: collapse
}
.foota {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #595959; LINE-HEIGHT: 14px; PADDING-TOP: 4px; FONT-FAMILY: verdana,ms sans serif,arial; HEIGHT: 30px
}
.foota A {
	COLOR: #595959; TEXT-DECORATION: none
}
.foota A:hover {
	COLOR: #867203; TEXT-DECORATION: none
}
HR {
	COLOR: #5c7ce2
}
.contact-text {
	PADDING-LEFT: 2px; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: verdana,arial,ms sans serif
}
.contact-text A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.contact-text A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.contact-text1 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: verdana,arial,ms sans serif
}
.contact-text1 A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.contact-text1 A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.contact-text2 {
	PADDING-LEFT: 25px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #161616; LINE-HEIGHT: 17px; FONT-FAMILY: verdana,arial,ms sans serif
}
.contact-text2 A {
	COLOR: #161616; TEXT-DECORATION: underline
}
.contact-text2 A:hover {
	COLOR: #161616; TEXT-DECORATION: none
}
.q-heading {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 5px; COLOR: #000000; FONT-FAMILY: Trebuchet MS
}
.q-mandatory {
	FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: verdana,ms sans serif,arial
}
.q-border {
	BORDER-RIGHT: #98b1fe 1px solid; BORDER-TOP: #98b1fe 1px solid; BORDER-LEFT: #98b1fe 1px solid; BORDER-BOTTOM: #98b1fe 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #cdd9ff
}
.q-border TD {
	BORDER-LEFT-COLOR: #98b1fe; BORDER-BOTTOM-COLOR: #98b1fe; BORDER-TOP-COLOR: #98b1fe; BORDER-RIGHT-COLOR: #98b1fe
}
.q-item {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff00; FONT-FAMILY: verdana,ms sans serif,arial; HEIGHT: 30px; BACKGROUND-COLOR: #827a44
}
.q-head {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6a5a01; FONT-FAMILY: verdana,ms sans serif,arial
}
.q-head1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,ms sans serif,arial
}
.q-text {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,ms sans serif,arial
}
.q-text1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana,ms sans serif,arial; BACKGROUND-COLOR: #e2ddb8
}
.q-star {
	COLOR: #ff0000
}
.q-star1 {
	COLOR: #ff0000
}
.q-text-sm {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana,ms sans serif,arial
}
.input {
	FONT-SIZE: 10pt; BORDER-TOP-STYLE: inset; FONT-FAMILY: verdana,ms sans serif,arial; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: inset
}
SELECT {
	FONT-SIZE: 10pt; WIDTH: 98%; BACKGROUND-COLOR: #ffffff
}
#dhtmltooltip {
	BORDER-RIGHT: #ffffff 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 2px solid; PADDING-LEFT: 5px; Z-INDEX: 100; BACKGROUND: #ffffff; LEFT: -300px; VISIBILITY: hidden; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 2px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 2px solid; POSITION: absolute
}
.tspo {
	MARGIN: 15px 0px 0px
}
.fac-tab2 {
	BORDER-BOTTOM: #d4d3d3 1px dashed; FONT-FAMILY: verdana,ms sans serif,arial
}
.hts {
	CLEAR: both; BORDER-RIGHT: #d4d3d3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d4d3d3 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 30px 20px; BORDER-LEFT: #d4d3d3 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d3d3 1px solid; FONT-FAMILY: verdana,ms sans serif,arial; BACKGROUND-COLOR: #f0f0f0
}
.fac {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(fac-lo.gif) no-repeat; COLOR: #958e60; LINE-HEIGHT: 28px; FONT-FAMILY: verdana,ms sans serif,arial; TEXT-ALIGN: left
}
.fac-tab1 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: verdana,ms sans serif,arial; TEXT-ALIGN: left
}
.fac-tab1 B {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #f54f05
}
.fac-tab1 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d3d3 1px dashed
}
.fac-tab1 TD TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; BORDER-BOTTOM-STYLE: none
}
.fac-tab1 TD UL {
	COLOR: #000000; LIST-STYLE-TYPE: none
}
.fac-tab1 TD UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(dot1.gif) no-repeat 0px 8px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 0px
}
